#root{
    background: orange;
    padding: 0 10px;
}

body{
    
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.btn{
    
    width: 100px;
    height: 30px;
    
}